<div class="row">
  {% for item in site.data.contact %}
  <div class="col-12 col-md-6 col-lg-4">
    <div class="p-3 text-primary">
      <i class="{{item.icon}} me-2"></i>
      <span>{{item.title}}</span>

      <div class="fs-5 text-dark">
        {% if item.link %}
        <a
          href="{{item.link}}"
          class="text-decoration-underline text-dark ff-serif"
          >{{item.description}}</a
        >
        {% else %} <span class="ff-serif">{{item.description}}</span> {% endif
        %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
