---
---
body {
  font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  overflow-x: hidden;
  user-select: none;
}

.container {
  max-width: 1024px;
}

.ff-serif {
  font-family: 'IBM Plex Serif', 'Gill Sans', 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
}

@mixin tablet-and-up {
  @media screen and (min-width: 769px) {
    @content;
  }
}
@mixin mobile-and-up {
  @media screen and (min-width: 601px) {
    @content;
  }
}
@mixin tablet-and-down {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mobile-only {
  @media screen and (max-width: 600px) {
    @content;
  }
}

#timeline-wrapper {
  ul,
  li {
    list-style: none;
    padding: 0;
  }

  .timeline-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
    padding: 3rem 0;
  }
  .wrapper {
    padding: 2rem;
    border-radius: 15px;
  }
  h1 {
    font-size: 1.1rem;
  }
  .sessions {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
  }
  li {
    padding-bottom: 1.5rem;
    border-left: 2px solid var(--mdb-primary);
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
    &:last-child {
      border: 0px;
      padding-bottom: 0;
    }
    &:before {
      content: '';
      width: 15px;
      height: 15px;
      background: var(--mdb-primary);
      border: 2px solid white;
      box-shadow: 3px 3px 0px #cacaca;
      box-shadow: 3px 3px 0px #cacaca;
      border-radius: 50%;
      position: absolute;
      left: -10px;
      top: 0px;
    }
  }
  .time {
    color: #2a2839;
    font-weight: 500;
    @include mobile-and-up {
      font-size: 0.9rem;
    }
    @include mobile-only {
      margin-bottom: 0.3rem;
      font-size: 0.85rem;
    }
  }
  p {
    color: #4f4f4f;
    line-height: 1.5;
    margin-top: 0.4rem;
    @include mobile-only {
      font-size: 0.9rem;
    }
  }
}
